/*window changes*/

::-webkit-scrollbar {
    width: 0;
}
::-moz-scrollbar {
    width: 0;
}
::-ms-scrollbar {
    width: 0;
}

/*body*/

body {
    background-size: 2.5%;
}

/*calculator*/

.calculator {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-grow: 1;
    height: 100%;
}

output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    font-size: min(2vw, 2vh);
    font-weight: bold;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
        inset -1px -1px 1px rgba(0, 0, 0, 0.3);
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.calc-btn {
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: min(2vw, 2vh);
    font-weight: bold;
    width: 23%;
    height: 23%;
}

/*all stuff*/

.counting {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.switch {
    position: absolute;
    left: -15px;
    display: flex;
    min-width: 99%;
    justify-content: center;
    padding-left: 10px;
    display: none;
}

.switch-buttons {
    display: flex;
    flex-direction: column;
}

.stuff {
    flex-grow: 10;
}

.content {
    margin: 7px;
    margin-top: 0px;
    padding: 16px;
    border: 2px solid black;
    font-size: min(2vw, 2vh);
    background-color: rgba(0,0,0,0.2);
}

.button-switch {
    border: 2px solid rgba(28,28,28,0.7);
    margin: 10px;
    border-radius: 5px;
    min-width: 20vw;
    font-size: min(3vw, 3vh);
    color: white;
    flex-grow: 1;
    background: transparent;
    background-color: rgba(28,28,28,0.7);
}

.submit {
    background-color: white;
    border: 2px solid white;
}

.inform {
    margin-bottom: 2px;
    margin-top: 2px;
}
.menu-button {
    background-color: rgba(26,26,26,0.7);
    padding: 5px;
    padding-bottom: 3px;
    position: absolute;
    top: 10px; left 0px;
}

.header {
    
}

.title {
    text-align: center;
}
